.infoIcon {
    display: inline-block;
    margin-left: 10px;
}

span.houseProps{
    font-weight:bold;
    margin-right :5px;
    color:darkslateblue;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position:absolute; /*Stay in place */
  z-index: 1; /* Sit on top */
  top: 250px;
  left: 180px;
  width: 160px;
  height: 75px;

}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  font-size: 12px;
  border: 0.5px solid #888;
  width: 99%;
  line-height:11.5px;
  padding: 6px;
}

